html {
  box-sizing: border-box;
}

* *::before *::after {
  box-sizing: border-box;
}

:root {
  --main-btn-color: #ffffff;
  --second-btm-color: #212121;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --accente-color: #2196f3;
  --typical-margin: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

section {
  padding-top: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----header---------*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.top-tex {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.head {
  background-color: #ffffff;
}

.logo-color {
  color: var(--accente-color);
}


/*------------------------------------HEADER--------------------*/
.header {
  padding-top: 15px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list.header-item: not (: last-child) {
  margin-right: 50px;
}



.header-icon {
  display: flex;
  margin-right: 10px;
  fill: #757575;
}

.header-list .header-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}


.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  align-items: center;
  justify-content: center;
}

.header-icon:hover,
.header-icon:focus {
  fill: var(--accente-color);
}

.header-icon:hover .header-link,
.header-icon:hover .header-link {
  fill: var(--accente-color);
}



.color {
  color: var(--accente-color);
}

.header-logo {
  display: flex;
  margin-right: 70px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.header-contact {
  display: flex;
  align-content: center;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accente-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link:not(:last-child) {
  margin-right: 50px;
}

.header-contacts:not(:last-child) {
  margin-right: 50px;
}

/*------------------------------------HERO--------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}


.section-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}


.hero-top-text::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;

}

.icon-anntena::before {
  background-image: url("../images/antenna.svg");
  margin-bottom: 30px;
}

.icon-clok::before {
  background-image: url("../images/clock.svg");
  margin-bottom: 30px;
}

.icon-vector::before {
  background-image: url("../images/Vector.svg");
  margin-bottom: 30px;
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
  margin-bottom: 30px;
}



.btn-item:not(:last-child) {
  margin-right: 9px;
}

.hero-btn:focus,
.hero-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-content {
  display: flex;
}

.hero-list {
  display: flex;
}

.hero-btn {
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accente-color);
  color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.hero-title {
  margin-top: 200;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-item {
  width: 270px;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-top-text .hero-text {
  display: flex;
}

.btn-title:hover,
.btn-title:focus {
  background-color: var(--accente-color);
  color: var(--main-btn-color);
  border: var(--accente-color);
}

.btn-title {
  display: inline;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: transparent;
}

.hero-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.hero-top-text {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.btn-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/*------------------------------------ABOUT--------------------*/

.about-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--second-title-color);
}

/*------------------------------------ABOUT TEAM-----------------*/

.about-list {
  display: flex;
  margin-left: -30px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

}

.section-work {
  padding-bottom: 94px;
}

.about-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
}

.about-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.about-team-list {
  display: flex;
  gap: 30px;
  text-align: center;
}

.about-team-item {
  flex-basis: calc((100% / 4) - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  justify-content: center;
  color: var(--second-title-color);
}

.about-img {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.about-work {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 16px;
}

.team-desk {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-icon {
  fill: #AFB1B8;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accente-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--main-btn-color);
}

/*------------------------------------PROJECT-----------------*/

.projects-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.projects-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects-box {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #EEEEEE;
  ;
  border-bottom: 1px solid #EEEEEE;
  ;
  border-left: 1px solid #EEEEEE;
  ;
}

.projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.projects-sub-title {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

/*------------------------------------FOOTER-----------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--footer-link-color);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--main-btn-color);
}

.footer-mailto,
.footer-tel {
  color: var(--footer-link-color);
}